@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

html {
  scroll-behavior: smooth;
}

html,
body {
   height: 100%;
   font-family: "EB Garamond", Helvetica, Arial, sans-serif;
}

#app {
    height: 100%;
}

.flex-container {
   display: flex;
   height: 100%;
}

.nav {
   flex: 1 1 75%;
}

.sidenav {
   /*position: absolute;
   flex-direction: column;
   align-self: flex-end;
    */
   margin-bottom: 50px;
}

/* No bullets on the menu */
.sidenav ul {
   list-style-type: none;
}

a:link {
   color: black;
}

/* visited link */
a:visited {
   color: black;
}

/* mouse over link */
#nav-list li a:hover {
    font-style: italic;
    border: black 2px;
}

.router-link-active {
   font-style: italic;
   background-color: red;
}

.main {
   flex: 1 1 75%;
   margin-right: 50px;
   margin-top: 100px;
}

.section {
   height: 80vh; /* Make each section 80% of the vertical height */

}

div.right {
   text-align: right;
}

.left {
   text-align: left;
}

.text-name {
   font-size: 4vw;
}

/* 768px wide or less: */
@media screen and (max-width: 768px) {

  .text-name {
      font-size: 7vw;
  }

}
